################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ManagementSystem/FileContentIndex/9f39ad24-09a2-45d2-895f-7554231f0e0c.vsidx
/.vs/ManagementSystem/FileContentIndex/278aa225-0292-4b4b-9979-6e52a042ebf2.vsidx
/.vs/ManagementSystem/FileContentIndex
/.vs/ManagementSystem/v17
